@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body{
    background-color: #1A1A1A;
}
.text{
    margin-left: 68px;
    margin-top: 42px;
}

.text h1{
    font-size: 64px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.text p{
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.foto{
    display: flex;
}

.fo{
    max-width: 734px;
    margin-left: 25%;
}

.mini{
    margin-bottom: 141px;
}

.telegram ,.steam,.namemc{
    margin-bottom: 45px;
}

.ico img{
    width: 85px;
    height: 85px;
}

.ico a{
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
}
.ico a:hover{
    text-decoration: underline;
}
.ico a:active{
    color: grey;
}
img.middle {
    vertical-align: -150%;
}

.ico a{
    margin-left: 22px;
}

.btn{
    text-decoration: none;
    background: black;
    border: none;
    color: white;
    padding: 21px 46px;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    border-radius: 35px;
}